<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/test.css" rel="stylesheet">
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    </head>
    <body>
        <div class="section text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="well white">
                            <h2>8th ICT Innovations Conference 2016 5 - 7 September Ohrid, R. Macedonia</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="/">HOME</a>
                            </li>
                            <li>
                                <a href="/agenda">AGENDA</a>
                            </li>
                            <!--
                            <li>
                                <a href="#">ABOUT THE CONFERENCE</a>
                            </li>
                            <li>
                                <a href="#">ABOUT THE ORGANIZER</a>
                            </li>
                            <li>
                                <a href="#">VENUE</a>
                            </li>
                            <li>
                                <a href="#">PREVIOUS CONFERENCES</a>
                            </li>-->
                            <li>
                                <a href="/tickets">TICKETS RESERVEREN</a>
                            </li>
                            <li>
                                <a href="/inschrijvenSpreker">INSCHRIJVEN ALS SPREKER</a>
                            </li>
                            <li>
                                <a href="/contact">CONTACT</a>
                            </li>
                            <li>
                                <a href="/tijdslot">TIJDSLOT(temp)</a>
                            </li>
                            <li>
                                <a href="/annuleerReservering">ANNULEER RESERVERING</a>
                            </li>
                            <li>
                                <a href="/inchecken">INCHECKEN</a>
                            </li>
                            <li>
                                <a href="/reservering">RESERVEREN V2</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            <div class="container">
                 {% block body %}{% endblock %}
            </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="support">Supporters
                            <br>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-3 text-center">
                        <a><i class="fa fa-5x fa-fw fa-instagram"></i></a>
                    </div>
                    <div class="col-xs-3">
                        <a><i class="fa fa-5x fa-fw fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-3">
                        <a><i class="fa fa-5x fa-fw fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-3 text-center">
                        <a><i class="fa fa-5x fa-fw fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Designed &amp; Created by Wouter Jansen</p>
                    </div>
                </div>
            </div>
        </div>
    

</body></html>