<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Conferentie Dam</title>

    <!-- Stylesheets -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- Libary Scripts -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- controllers -->

    <!-- <script src="/app/concerten/concertCtrl.js"></script> -->
</head>
<header>
    <div id="lineDarkBlue"></div>
    <div id="lineLightBlue"></div>
    <div id="header">
        <div id="headerInfo">
            <a href="/">
                8th ICT Innovations Conference 2016
                5 - 7 September Ohrid, R. Macedonia</a>
        </div>
    </div>
    <div id="nav"></div>
</header>
<body>
    {% block body %}{% endblock %}
</body>
<footer>
    Dit is de footer
</footer>
    

</html>