{% extends 'index.html.twig' %}

{% block body %}
    
<html>
<body>
    <div class="section">
     <div class="container">
        <div class="row">
         <div class="col-md-12">
            <p>Onze excuses! Er is wat fout gegaan met de bestelling, probeer het opnieuw!</p>
         </div>
        </div>
     </div>
    </div>
</body>
{% endblock %}