{% extends 'index.html.twig' %}

{% block body %}
    
<head>
 <!-- Stylesheets -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    
    <!-- Library Scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
</head>
<h2>Backend!!</h2>
    <div id="functions">
                <h5>Functies Organisator</h5>
                <a href="/toekennenSloten">Sloten toekennen</a><br>
                <a href="/ticketOverzicht">Ticket overzicht</a><br>
                <a href="/bezoekerOverzicht">Bezoeker overzicht</a><br>
                <a href="/feestMail">Stuur extra mail over feesten</a><br>
     </div>
<div class ="container">

</div>
{% endblock %}