{% extends 'index.html.twig' %}

{% block body %}
    
<head>
 <!-- Stylesheets -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    
    <!-- Library Scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
</head>
<h3></h3>
    <body>
        <div class ="container">
                <h2>ICT INNOVATIONS 2016 Conference Aims and Scope</h2>
                <div>The aim of the ICT Innovations conference is to promote the publication of scientific results of the international community related to innovative fundamental and applied research in ICT. The conference will gather academics, professionals and practitioners willing to report valuable experiences in developing solutions and systems in the industrial and business arena. This includes but not limits to: innovative research, commercial implementations, novel applications of technology, and experience in applying recent research advances to practical problems, in different ICT areas.</div>
                <div>&nbsp;</div>
                <h2>ICT INNOVATIONS 2016 Topics</h2>
                <div>The special conference topic for this year is&nbsp;<span style="font-size: 13.008px; line-height: 1.538em;"><strong>"Cognitive Functions and Next Generation ICT Systems"</strong>.</span></div>
                <div>&nbsp;</div>
        </div>

</body>
{% endblock %}