{% extends 'index.html.twig' %}

{% block body %}
    
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    </head>
<body>
    <div class="section">
     <div class="container">
        <div class="row">
         <div class="col-md-12">
            <form action="/newSpreker" method="post">
                    <div class="form-group">
                    <label class="control-label" for="Voornaam">Voornaam</label>
                    <input class="form-control" id="naam" name="naam" placeholder="Voornaam" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="Tussenvoegsel">Tussenvoegsel</label><input class="form-control" name="tussenvoegsel" placeholder="Enter email" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="Achternaam">Achternaam</label><input class="form-control" name="achternaam" placeholder="Enter email" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="Email">Email</label><input class="form-control" name="email" placeholder="Enter email" type="email">
                    </div>
                    <div class="form-group"><label class="control-label" for="Onderwerp">Onderwerp</label><input class="form-control" name="onderwerp" placeholder="Onderwerp" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="uitleg">Korte uitleg onderwerp</label><input class="form-control" name="uitleg" placeholder="uitleg" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="Wensen">Wensen (Beamer, borden etc.)</label><input class="form-control" name="wensen" placeholder="Wensen" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="exampleInputEmail1">Dag waarop u wilt spreken</label>
                             <select id="maaltijdType" name="maaltijdType">
                                <option value="null">Geen dag</option>
                                <option value="maaltijdVrijdag">Vrijdag</option>
                                <option value="maaltijdZaterdag">Zaterdag</option>
                                <option value="maaltijdZondag">Zondag</option>
                            </select>
                             <div class="form-group"><label class="control-label" for="exampleInputEmail1">Maaltijd Type</label> 
                                     <table class="table table-bordered">
                                      <tr>
                                        <th>Type</th>
                                        <th class="maaltijdVrijdag">Vrijdag</th>
                                        <th class="maaltijdZaterdag">Zaterdag</th> 
                                        <th class="maaltijdZondag">Zondag</th>
                                        <th class="maaltijdZaterdagEnZondag">Zaterdag</th>
                                        <th class="maaltijdZaterdagEnZondag">Zondag</th>
                                        <th class="maaltijdParsePartout">Vrijdag</th>
                                        <th class="maaltijdParsePartout">Zaterdag</th>
                                        <th class="maaltijdParsePartout">Zondag</th>
                                      </tr>
                                      <tr>
                                        <td>Lunch</td>
                                        <td class="maaltijdVrijdag">
                                                <input type="number" id="lunchVrijdag" name="lunchVrijdag"  class="Vrijdag">
                                        </td>
                                        <td class="maaltijdZaterdag">
                                         <input type="number" id="lunchZaterdag" name="lunchZaterdag" class="Zaterdag">
                                        </td>
                                        <td class="maaltijdZondag">
                                                <input type="number" id="lunchZondag" name="lunchZondag" class="Zondag">
                                        </td>
                                        <td class="maaltijdZaterdagEnZondag">
                                                <input type="number" id="lunchZaterdag" name="lunchZaterdag" class="ZaterdagEnZondag">
                                        </td>
                                        <td class="maaltijdZaterdagEnZondag">
                                                <input type="number" id="lunchZondag" name="lunchZondag" class="ZaterdagEnZondag">
                                        </td>
                                        <td class="maaltijdParsePartout">
                                                <input type="number" id="lunchVrijdag" name="lunchVrijdag" class="ParsePartout">
                                        </td>
                                        <td class="maaltijdParsePartout">
                                                <input type="number" id="lunchZaterdag" name="lunchZaterdag" class="ParsePartout">
                                        </td>
                                        <td class="maaltijdParsePartout">
                                                <input type="number" id="lunchZondag" name="lunchZondag" class="ParsePartout">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Diner</td>
                                        <td class="maaltijdZaterdag">
                                         <input type="number" id="dinerZaterdag" name="dinerZaterdag" class="Zaterdag">
                                        </td>
                                        <td  class="maaltijdZondag">
                                                <input type="number" id="dinerZondag" name="dinerZondag" class="Zondag">
                                        </td>
                                        <td  class="maaltijdZaterdagEnZondag">
                                                <input type="number" id="dinerZaterdag" name="dinerZaterdag" class="ZaterdagEnZondag">
                                        </td>
                                        <td  class="maaltijdZaterdagEnZondag">
                                                <input type="number" id="dinerZondag" name="dinerZondag" class="ZaterdagEnZondag">
                                        </td>
                                       <!-- <td class="ParsePartout">
                                                <input type="number" id="aantalMaaltijdenDiner" name="aantalMaaltijdenLunch" class="ParsePartout">
                                        </td> --> <td class="ParsePartout"></td>
                                        <td class="maaltijdParsePartout">
                                                <input type="number" id="dinerZaterdag" name="dinerZaterdag" class="ParsePartout">
                                        </td>
                                        <td class="maaltijdParsePartout">
                                                <input type="number" id="dinerZondag" name="dinerZondag" class="ParsePartout">
                                        </td>
                                      </tr>
                                    </table>
                             <h4>Wilt u geen diner, dan vult u op die velden een 0 in</h4>    
                      </div>
                      <div class="form-group"><label class="control-label" for="exampleInputEmail1">Tags:</label>
                             <select id="tags" name="tags">
                                <option value="Website">Website</option>
                                <option value="Discussie">Discussie</option>
                                <option value="Lessen">Lessen</option>
                                <option value="Bespreking">Bespreking</option>
                            </select><br>
                    <input type="submit" class="btn btn-default" value="Kies uw tijdsloten" name="Submit"> 
            </form>
         </div>
        </div>
     </div>
    </div>
</body>
        <script>
            $('#maaltijdType').on('change',function(){
                $('.maaltijdParsePartout').hide()
                $('.maaltijdParsePartout').prop('disabled', true);
                $('.maaltijdZaterdagEnZondag').hide()
                $('.maaltijdZaterdagEnZondag').prop('disabled', true);
                $('.maaltijdVrijdag').hide()
                $('.maaltijdVrijdag').prop('disabled', true);
                $('.maaltijdZaterdag').hide()
                $('.maaltijdZaterdag').prop('disabled', true);
                $('.maaltijdZondag').hide()
                $('.maaltijdZondag').prop('disabled', true);
                $('.'+this.value).show();
                $('.'+this.value).prop('disabled', false);
                $('.aantal').hide()
                $('#'+this.value).show();
                $('#'+this.value).prop('disabled', false);
                console.log(this.value);
            });
    </script>
{% endblock %}