{% extends 'index.html.twig' %}

{% block body %}
    
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    </head>
<body>
    <div class="section">
     <div class="container">
        <div class="row">
         <div class="col-md-12">
            <form role="form">
                    <div class="form-group">
                    <label class="control-label" for="exampleInputEmail1">Voornaam</label>
                    <input class="form-control" id="exampleInputEmail1" placeholder="Voornaam" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="exampleInputEmail1">Tussenvoegsel</label><input class="form-control" id="exampleInputEmail1" placeholder="Tussenvoegsel" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="exampleInputEmail1">Achternaam</label><input class="form-control" id="exampleInputEmail1" placeholder="Achternaam" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="exampleInputEmail1">Email</label><input class="form-control" id="exampleInputEmail1" placeholder="email" type="email">
                    </div>
                    <div class="form-group"><label class="control-label" for="exampleInputEmail1">Adres</label><input class="form-control" id="exampleInputEmail1" placeholder="Adres" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="exampleInputEmail1">Onderwerp</label><input class="form-control" id="exampleInputEmail1" placeholder="Onderwerp" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="exampleInputEmail1">Korte uitleg onderwerp</label><input class="form-control" id="exampleInputEmail1" placeholder="uitleg" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="exampleInputEmail1">Wensen(Beamer, borden etc.)</label><input class="form-control" id="exampleInputEmail1" placeholder="Wensen" type="text">
                    </div>
                    <div class="form-group"><label class="control-label" for="exampleInputEmail1">Maaltijd Type</label>
                        <select id="typeTicket" name="typeTicket">
                            <option value="1">Lunch - Alle Dagen</option>
                            <option value="2">Diner - Alleen Weekend</option>
                            <option value="3">Geen Maaltijd</option>
                        </select>
                    </div>
                    <div class="form-group"><label class="control-label" for="exampleInputEmail1">Aantal Kaarten</label>                
                    </div>
                    <input type="submit" class="btn btn-default" value="Registreer als Spreker" name="Submit"> 
            </form>
         </div>
        </div>
     </div>
    </div>
</body>
{% endblock %}