{% extends 'index.html.twig' %}

{% block body %}
    
<head>
 <!-- Stylesheets -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    
    <!-- Library Scripts -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
</head>
<h3></h3>
    <body>
        <div class ="container">
                <div id="testResults" style="display: none;">
                    {% for tijdslot in tijdslot_items %}
                          <tr>
                            <td>{{tijdslot}}</td>
                         </tr>
                    {% endfor %}
                </div>
                <div id="alertName" class="alert alert-success" style="display: none">
                    <strong>Success!</strong> De database is werkend
                </div>
        </div>
</body>
    <script>
    $(document).ready(function(){
        var x = document.getElementById("testResults");
        console.log(x);
        
        if(x != null){
             $('#alertName').css("display", "block");
             $('#alertDescription').css("display", "block");
        }
    });
</script>
{% endblock %}
