{% extends 'index.html.twig' %}

{% block body %}
    
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    </head>
<body>
    <div class="section">
     <div class="container">
        <div class="row">
         <div class="col-md-12">
            <form action="/cancelReservering" method="post">
                    <div class="form-group"><label class="control-label" for="Email">Email</label><input class="form-control" name="email" placeholder="Enter email" type="email">
                    </div>
                    <div class="form-group"><label class="control-label" for="hashCode">Hash Code</label><input class="form-control" name="hashCode" placeholder="Enter hash" type="text">
                    </div>
                    <input type="submit" class="btn btn-default" value="Cancel Tickets" name="Submit"> 
            </form>
                 <label class="danger">Let op, er is geen bevestiging ticket-nummer invullen is een definitieve verwijdering</label>
         </div>
        </div>
     </div>
    </div>
</body>
{% endblock %}